<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Code Market</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            margin: 0 !important;
            width: 100% !important;
            -webkit-text-size-adjust: 100% !important;
            -ms-text-size-adjust: 100% !important;
            -webkit-font-smoothing: antialiased !important;
            background-color: #D3D3D3;
            font-family: 'Lato', sans-serif;
        }

        .tableContent img {
            border: 0 !important;
            display: inline-block !important;
            outline: none !important;
        }

        p {
            color: #929292;
            font-size: 18px;
            line-height: 28px;
            font-weight: 400;
            font-family: 'Lato', sans-serif;
            text-align: left;
        }

        h2 {
            font-weight: normal;
            margin: 0;
            color: #000000;
            font-size: 22px;
            font-family: 'Lato', sans-serif;
        }

        p,
        h1,
        ul,
        ol,
        li,
        div {
            margin: 0;
            padding: 0;
        }

        td,
        table {
            vertical-align: top;
        }

        .fontSize {
            font-size: 14px;
        }
    </style>
</head>

<body
    style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;"
    offset="0" toppadding="0" leftpadding="0">
    <table width="600" border="0" cellspacing="0" cellpadding="0" class="tableContent" align="center" bgcolor="#fff"
        style='font-family:helvetica, sans-serif; margin: 0 auto;'>
        <!-- ================ header=============== -->
        <tr>
            <td align='center' class='bgBody'>
                <table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF"
                    style="border: 1px solid #929292">
        
        <!-- ================ END header =============== -->
        <tr>
            <td>
                <table width="600" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class='movableContentContainer bgItem' align='center'>
                            <div class='movableContent'>
                                <table width="600" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width='20'></td>
                                        <td align='center'>
                                            <div class="contentEditableContainer contentImageEditable">
                                                <div class="contentEditable">
                                                    <img style="width: 350px;
                                                    object-fit: contain;
                                                    object-position: center;" src="https://aws2019demo.s3.amazonaws.com/codemarket.png"
                                                        alt='CodeMarket'>
                                                </div>
                                                <p style="margin-left: 37%">Bug Fix Purchased!</p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!--  =========================== The body ===========================  -->
                            <div class='movableContent'>
                                <table width="600" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width='500'>
                                            <div class="contentEditableContainer contentImageEditable">
                                                <div class="contentEditable" style="text-align:center;">
                                                </div>
                                            </div> 
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class='movableContent'>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding: 0 60px;">
                                    <tr>
                                        <td height='30'></td>
                                    </tr>
                                    <tr>
                                        <td align='center' width='560'>
                                            <div class="content-txt">
                                                <p class="fontSize"> Dear <%= BUYERNAME %>, </p> 
                                                <p class="fontSize"> Thank you for purchasing the bug-fix. Here is the email of the bug-fix creator <%= CREATOREMAIL %>.</p> 
                                                <p class="fontSize"> You can contact him for the support. </p><br><br>
                                                <p class="fontSize">Thank You.</p>
                                                <p class="fontSize"><a href="http://codemarket.io"> CodeMarket </a></p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </td>
        </tr>
    <!-- end footer-->
    </table>
</body>

</html>
